.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profileWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 300px;
  height: 110px;
  background: url("../../assets/auth/img/logo_large.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.profileForm {
  width: 285px;
  height: 255px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.formCenter {
  justify-content: center;
}

.formStart {
  justify-content: start;
}

.profile {
  width: 77px;
  height: 77px;
  margin: 5px;
  margin-bottom: 25px;
}

.profileIcon {
  height: 77px;
  width: 77px;
  border: 2px solid #fe724c;
  border-radius: 5px;
}

.profileName {
  text-align: center;
  margin-bottom: 5px;
}

.profilePlus {
  height: 77px;
  width: 77px;
  border: 2px solid #fe724c;
  background: url("../../assets//profile/Img/Plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.profilePlus:hover,
.profileIcon:hover {
  animation: goPage 0.1s ease forwards;
}

@keyframes goPage {
  to {
    transform: scale(1.05);
  }
}
