.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profileWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 300px;
    height: 110px;
    background: url('../../assets/auth/img/logo_large.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.profileForm{
    width: 300px;
    height: 255px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.formCenter{
    justify-content: center;
}

.formStart{
    justify-content: start;
}

.profile{
    width: 77px;
    height: 77px;
    margin: 5px;
}

.profileIcon{
    /* display: inlin; */
    height: 77px;
    width: 77px;
    border : 2px solid #FE724C;
}

.profileName{
    text-align: center;
}

.profilePlus{
    /* display: inlin; */

    height: 77px;
    width: 77px;
    border : 2px solid #FE724C;
    background: url('../../assets//profile/Img/Plus.svg');
    background-position: center;
    background-repeat: no-repeat;
}



.profilePlus:hover, .profileIcon:hover{
    animation: goPage 0.1s ease forwards;
}

@keyframes goPage {
    to{
        transform: scale(1.05);
    }
}