@media screen and (max-width: 576px) {
  .gridSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    border: 1px blue solid;
    width: 100%;
    /* overflow-y: scroll; */
  }
  .dietContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px red solid;
  }
}

@media screen and (min-width: 576px) {
  .gridSet {
    display: flex;
    flex-direction: row;
  }
  .dietContentBox {
    /* margin-left: 25%; */
    width: 75%;
    height: 100%;
    border: 1px solid red;
  }
}
