.DietListBack {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: scroll;
  padding-bottom: 30px;
}
.DietListBack::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.DietListBack::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #ffd1b5; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.DietListBack::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}
