@media screen and (max-width: 576px) {
  .emptyBox {
    width: 100%;
    /* min-height: 667px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .emptyIcon {
    background: url(../../assets/diet/emptyDiet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    transform-origin: center;
    animation: rotateLogo 2s;
    animation-iteration-count: infinite;
  }
  @keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .emptyBtn {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1em;
    background: #fe724c;
    padding: 12px 55px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(254, 114, 76, 25%);
    cursor: pointer;
  }
  .emptyBtn:hover {
    transform: scale(1.2);
  }

  .emptyModalBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(6, 6, 6, 50%);
    z-index: 20;
    height: calc(var(--vh, 1vh) * 100 + 90px);
    width: 100%;

    .emptyModal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 90%;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
    }
    .modalTextBox {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .emptyModalImg {
      background: url("../../assets/diet/diet_aleart_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 150px;
      height: 170px;
    }
    .modalTextImg {
      background: url("../../assets/diet/profile_data_icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 70px;
      width: 15px;
      margin-right: 10px;
    }
    .modalText p {
      font-weight: 600;
    }
    .btnList {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .cancleBtn {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 140px;
      text-align: center;
      border-radius: 30px;
      border: 0.1px #bdb4b4 solid;
      box-shadow: 5px 5px 10px rgba(6, 6, 6, 10%);
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    .cancleBtn:hover,
    .confirmBtn:hover {
      transform: scale(1.1);
    }

    .confirmBtn {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 140px;
      text-align: center;
      border-radius: 30px;
      border: 1px red solid;
      box-shadow: 5px 5px 10px rgba(6, 6, 6, 10%);
      margin-left: 10px;
      margin-right: 10px;
      color: #fff;
      background-color: #fe724c;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 576px) {
  .emptyBox {
    width: 100%;
    /* min-height: 667px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .emptyIcon {
    background: url(../../assets/diet/emptyDiet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    transform-origin: center;
    animation: rotateLogo 2s;
    animation-iteration-count: infinite;
  }
  @keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .emptyBtn {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1em;
    background: #fe724c;
    padding: 12px 55px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(254, 114, 76, 25%);
    cursor: pointer;
  }
  .emptyBtn:hover {
    transform: scale(1.2);
  }

  .emptyModalBack {
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(6, 6, 6, 50%);
    z-index: 20;
    height: calc(var(--vh, 1vh) * 100 + 90px);
    width: 75%;

    .emptyModal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 90%;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
    }
    .modalTextBox {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .emptyModalImg {
      background: url("../../assets/diet/diet_aleart_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 150px;
      height: 170px;
    }
    .modalTextImg {
      background: url("../../assets/diet/profile_data_icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 70px;
      width: 15px;
      margin-right: 10px;
    }
    .modalText p {
      font-weight: 600;
    }
    .btnList {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .cancleBtn {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 140px;
      text-align: center;
      border-radius: 30px;
      border: 0.1px #bdb4b4 solid;
      box-shadow: 5px 5px 10px rgba(6, 6, 6, 10%);
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    .cancleBtn:hover,
    .confirmBtn:hover {
      transform: scale(1.1);
    }

    .confirmBtn {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 140px;
      text-align: center;
      border-radius: 30px;
      border: 1px red solid;
      box-shadow: 5px 5px 10px rgba(6, 6, 6, 10%);
      margin-left: 10px;
      margin-right: 10px;
      color: #fff;
      background-color: #fe724c;
      cursor: pointer;
    }
  }
}
