.controller {
  height: 20%;
  width: 100%;
  padding-left: 5rem;
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
  .container {
    width: 70%;
    border: 1px solid black;
    height: 100vh;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    border: 1px solid black;
    height: 20rem;
  }
}
