body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .gridSet {
    display: flex;
    flex-direction: row;
  }
  .diaryContentBox {
    /* margin-left: 25%; */
    display: flex;
    width: 75%;
    height: 100vh;
  }
  .next {
    flex: none;
    width: 375px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 5%;
  }
  .next::-webkit-scrollbar {
    width: 4px; /* 스크롤바의 너비 */
  }

  .next::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #ffd1b5; /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  .next::-webkit-scrollbar-track {
    background: #fff; /*스크롤바 뒷 배경 색상*/
  }
}

@media screen and (max-width: 576px) {
  .gridSet {
    /* display: flex;
    flex-direction: row; */
  }
  .diaryContentBox {
    /* margin-left: 25%; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .next {
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 35%;
  }
  .next::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
  }

  .next::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #ffd1b5; /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  .next::-webkit-scrollbar-track {
    background: #fff; /*스크롤바 뒷 배경 색상*/
  }
}
