@media screen and (max-width: 576px) {
  .profileBox {
    flex: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fe724c;
    height: 200px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 5px rgba(160, 160, 160, 30%);
    z-index: 20;
  }

  .profileContentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px red solid;
  }
  .profileContent {
    width: 40%;
  }
  .profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 12px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px rgba(160, 160, 160, 30%);
  }
  .profileImg img {
    width: 155px;
    height: 155px;
    background-color: #ffefe9;
    border-radius: 12px;
    border: #fe724c solid 2px;
  }
  .growthBack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .growthLine {
    background: url("../../assets/home/growth_line_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 20px;
    margin-top: 5px;
  }
  .profileName {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  .profileName span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
  }
  .profiletextBox {
    width: 100%;
  }
  .profiletextBox div {
    display: flex;
    flex-direction: row;
  }
  .profiletext {
    color: #ffceb0;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 5px;
    width: 50%;
  }
  .profiledata {
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 5px;
    width: 50%;
  }

  .growthBox {
    height: 350px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(160, 160, 160, 30%);
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 576px) {
  .profileBox {
    flex: none;
    display: flex;
    background: #fe724c;
    justify-content: center;
    align-items: center;
    height: 228px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 0px 5px rgba(160, 160, 160, 30%);
    z-index: 20;
  }

  .profileContentBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-left: 1.5rem;
  }
  .profileImg {
    flex: none;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(160, 160, 160, 30%);
  }
  .profileImg img {
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #ffefe9;
    border-radius: 12px;
    border: #fe724c solid 2px;
  }
  .profileName {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  .profileName > span {
    font-size: 0.5em;
    font-weight: 400;
    margin-left: 5px;
  }
  .profileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 76%;
    padding-left: 3rem;
    padding-right: 2rem;
  }
  .growthBack {
    margin-top: 30px;
  }
  .profiletextBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1rem;
  }
  .profiletextBox div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profiletext {
    color: #ffceb0;
  }
  .profiledata {
    color: #fff;
    font-size: 1.5em;
  }
  .normal {
    background: url("../../assets/home/normal.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 25%);
    margin-top: 5px;
  }
  .row {
    background: url("../../assets/home/normal.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 25%);
    margin-top: 5px;
  }
  .over {
    background: url("../../assets/home/normal.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 25%);
    margin-top: 5px;
  }
}
