@media screen and (max-width: 576px) {
  .container {
    top: 0;
    background: #fff;
    height: calc(100vh - 70px);
    width: 100%;
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 15%);
    padding: 5px;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
  }

  .container::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: transparent;
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  .backBox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .backIcon {
    background: url("../../assets/recipe/backIcon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  .backIcon:hover {
    transform: scale(1.2);
  }
  .cardTitleBox {
    height: 30px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .cardTitleIcon {
    height: 20px;
    width: 20px;
    background: url("../../assets/recipe/ingre_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  .cardTitle {
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
  }
  .cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .cardTitle span {
    font-weight: 700;
    color: #fe724c;
  }
  .recipeImgBox {
    width: 155px;
    height: 155px;
    position: relative;
    margin: 10px;
  }
  .recipeImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 15px 15px 15px rgba(0, 0, 0, 15%); */
  }
  .imgTextBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 70%), rgba(0, 0, 0, 0%));
    padding: 5px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
  }
  .recipeKcal {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .recipeName {
    display: inline;
    /* background: white; */
    color: #fff;
    border-radius: 30px;
    width: 100%;
    padding: 3px 5px 0px 5px;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /* 블록태그로 만들어준다 */
    text-overflow: ellipsis; /* 말줄임 css */
    white-space: nowrap; /*글자를 한줄로 모아준다*/
  }
  .loadingBtn {
    cursor: pointer;
    position: absolute;
    left: 35%;
    background: url("../../assets/recipe/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
    border-radius: 50px;
    z-index: 5;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  .container {
    background: #fff;
    height: 100vh;
    width: calc(100% - 6.8%); /* 그지같군 */
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 15%);
    padding: 15px;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
  }

  .container::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: transparent;
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  .titleBox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
  }

  .backIcon {
    background: url("../../assets/recipe/backIcon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  .backIcon:hover {
    transform: scale(1.2);
  }
  .cardTitleBox {
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
  }
  .cardTitleIcon {
    height: 20px;
    width: 20px;
    background: url("../../assets/recipe/ingre_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  .cardTitle {
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
  }
  .cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    width: 100%;
  }
  .cardTitle span {
    font-weight: 700;
    color: #fe724c;
  }
  .recipeImgBox {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
  }
  .recipeImg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 15%);
  }
  .imgTextBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 60%), rgba(0, 0, 0, 0%));
    padding: 5px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
  }
  .recipeKcal {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .recipeName {
    display: inline;
    /* background: white; */
    color: #fff;
    border-radius: 30px;
    width: 100%;
    padding: 3px 5px 0px 5px;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /* 블록태그로 만들어준다 */
    text-overflow: ellipsis; /* 말줄임 css */
    white-space: nowrap; /*글자를 한줄로 모아준다*/
  }
  .loadingBtn {
    cursor: pointer;
    position: absolute;
    left: 45%;
    background: url("../../assets/recipe/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
    border-radius: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    background: #fff;
    height: 100vh;
    width: calc(100% - 20.6%); /* 그지같군 */
    position: absolute;
    z-index: 5;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 15%);
    padding: 15px;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
  }

  .container::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: transparent;
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  .titleBox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
  }

  .backIcon {
    background: url("../../assets/recipe/backIcon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  .backIcon:hover {
    transform: scale(1.2);
  }
  .cardTitleBox {
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
  }
  .cardTitleIcon {
    height: 20px;
    width: 20px;
    background: url("../../assets/recipe/ingre_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  .cardTitle {
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
  }
  .cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .cardTitle span {
    font-weight: 700;
    color: #fe724c;
  }
  .recipeImgBox {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
  }
  .recipeImg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 15%);
  }
  .imgTextBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 60%), rgba(0, 0, 0, 0%));
    padding: 5px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
  }
  .recipeKcal {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .recipeName {
    display: inline;
    /* background: white; */
    color: #fff;
    border-radius: 30px;
    width: 100%;
    padding: 3px 5px 0px 5px;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /* 블록태그로 만들어준다 */
    text-overflow: ellipsis; /* 말줄임 css */
    white-space: nowrap; /*글자를 한줄로 모아준다*/
  }
  .loadingBtn {
    cursor: pointer;
    position: absolute;
    left: 45%;
    background: url("../../assets/recipe/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
  }
}
