.formBox {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.6rem;
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: 10px;
}

.ruler {
  transition: 0.5s ease;
}
.short {
  margin: 4px;
  width: 50px;
  height: 0.3px;
  background-color: black;
}

.long {
  margin: 4px;

  width: 100px;
  height: 0.5px;
  background-color: black;
}

.heightInput {
  border: none;
  border-bottom: 1.5px solid gray;
  font-size: 1.5rem;
  font-weight: 500;
  width: 140px;
  caret-color: #fe724c;
  padding-left: 20px;
}

.heightInput:focus {
  outline: none;
}
.description {
  font-size: 0.68rem;
  color: gray;
  font-weight: 500;
}
.inputBox {
  position: relative;
  width: 140px;
}
.cm {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: gray;
  font-weight: 500;
}

.heightForm {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 170px;
  padding: 5px;
}

.longColor {
  margin: 4px;
  width: 100px;
  height: 2px;
  background-color: #fe724c;
}

.shortColor {
  margin: 4px;
  width: 50px;
  height: 2px;
  background-color: #fe724c;
}

.nextBtn {
  align-self: center;
  width: 100%;
  height: 45px;
  border: 1px solid #fe724c;
  background-color: #fe724c;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
}
.noBtn {
  align-self: center;
  width: 100%;
  height: 45px;
  border: 1px solid #fe724c;
  background-color: #fe724c;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
}

.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
